
<div class="flex flex-col p-4">

    <h1 class="text-gray-700 text-3xl">Calculadora de Años Bisiestos </h1>
    <div class="flex space-x-10">
        <a href="">
            <span class="underline text-gray-400 text-sm">regresar al inicio<span aria-hidden="true">&rarr;</span></span>
        </a>

        <a href="the-legend-of-zelda">
            <span class="underline text-gray-400 text-sm">siguiente prueba<span aria-hidden="true">&rarr;</span></span>
        </a>
    </div>
    

    <div class="overflow-x-auto mt-8">
        <span class="ml-4">código fuente:</span>
        <pre class="bg-gray-900 text-green-400 p-4 w-fit rounded-2xl">
            <code>
              {{ codigo }}
            </code>
        </pre>
    </div>
      
    <div class="mt-8">
        <span class="text-3xl text-gray-700">Ejecutar prueba</span>

        <div class="grid grid-cols-1 sm:grid-cols-2 h-[500px] mt-8">

            <div>
                <span class="text-gray-600">Introduce un año y se calcularan los próximos 30 años bisiestos</span>
                <div class="relative mt-2">
                    <form class="grid flex-1 grid-cols-1 relative bg-gray-100/50 p-4 rounded-xl" autocomplete="off" [formGroup]="formulario">
                        <input type="number" aria-label="Search" class="col-start-1 row-start-1 block size-full bg-transparent pl-8 text-base text-gray-800 outline-none placeholder:text-gray-500 sm:text-sm/6" 
                        formControlName="anio"
                        (keyup.enter)="submit()"
                        (blur)="onBlur()"
                        placeholder="escribe un año">
                        <svg class="pointer-events-none col-start-1 row-start-1 size-5 self-center text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                            <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd" />
                        </svg>
                    </form>
                    @if( esValidoElCampos('anio') ){
                        <span class="text-red-500 ml-12 text-sm relative -top-5">Valor no permitido</span>
                    }
                </div>
            </div>
            
            <div>
                <span class="text-gray-600 ml-4">resultado:</span>

                <pre class="bg-zinc-800 text-white p-4 rounded-xl">{{ resultado | json }}</pre>
            </div>
        </div>
    </div>
    
</div>